<?xml version="1.0" encoding="utf-8"?>
<ArrayOfProperty xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Property>
    <name>DoingAutomatedTest</name>
    <value xsi:type="xsd:boolean">false</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RemoveAnalyses</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>UpdateLexiconIfPossible</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>ShowSidebar</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>SidebarWidthGlobal</name>
    <value xsi:type="xsd:int">140</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>SidebarLabel</name>
    <value xsi:type="xsd:string">Sidebar</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>ShowRecordList</name>
    <value xsi:type="xsd:boolean">false</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RecordListWidthGlobal</name>
    <value xsi:type="xsd:int">200</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>RecordListLabel</name>
    <value xsi:type="xsd:string">Record List</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>MainContentLabel</name>
    <value xsi:type="xsd:string">Main Content</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>AllButSidebarLabel</name>
    <value xsi:type="xsd:string">Record List &amp; MainContent</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>HomographConfiguration</name>
    <value xsi:type="xsd:string" />
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>ReversalIndexGuid</name>
    <value xsi:type="xsd:string">07a79808-ed23-4522-923b-dfce49c59d19</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>UseVernSpellingDictionary</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>AllowInsertLinkToFile</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>InterlinearTab</name>
    <value xsi:type="xsd:string" />
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>PreviousToolbarVersion</name>
    <value xsi:type="xsd:string">1</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>IgnoreStatusPanel</name>
    <value xsi:type="xsd:boolean">false</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>LinkSetupInfo</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>LinkScriptureBooksWanted</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>DictionaryPublicationLayout</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>entries.normalEdit.DataTree-SliceSplitterBaseDistance</name>
    <value xsi:type="xsd:int">150</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>AllowShowNormalFields</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expandwwpM9TuwQEW/DnhGHLdM+A==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expand1FE8wwX0NE2Zw16zaIGg0Q==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expandmul/b0jeYUe1j2iL/sFQcw==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expandlrKfLqbkWUmtldGNGUdKPQ==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expandB1kEzfzoo0aPjfcb2VYnXw==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>grammarSketch_grammar</name>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>windowLocation</name>
    <value xsi:type="Point">
      <X>0</X>
      <Y>24</Y>
    </value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>windowSize</name>
    <value xsi:type="Size">
      <Width>1160</Width>
      <Height>793</Height>
    </value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>windowState</name>
    <value xsi:type="FormWindowState">Normal</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expand4La2zJnjCU2YXWWapKIISg==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expandgjbO5ZMTy0qvN6XPiKoqHQ==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expand/yGXpjV6FUO7dQ1XGz1TKA==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expandqAgGbg4rEU6wjJMz/P4LLw==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expand1goeIzHKr06EuRFrZ5HnyQ==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>expandbvZwm+DpxUKSnywEbHTRsg==</name>
    <value xsi:type="xsd:boolean">true</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
  <Property>
    <name>BestStyleName</name>
    <value xsi:type="xsd:string">????</value>
    <doPersist>true</doPersist>
    <doDispose>false</doDispose>
  </Property>
</ArrayOfProperty>